.section-full-row {
  background: #e8f0ff;
  color: #0b3d91;
  font-weight: bold;
  padding: 8px 10px;
  width: 100%;
  font-size: 14px;
}

.ag-header {
  background: #254f9b !important;
  color: white !important;
  font-weight: 600;
}

.ag-theme-alpine .ag-cell {
  display: flex;
  align-items: center;
}
.section-middle {
  background: #e8f0ff;
  color: #0b3d91;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  border-radius: 4px;
}
.section-middle-full {
  background: #e8f0ff;
  color: #0b3d91;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  width: 100%;
  font-size: 14px;
}
.section-rowspan {
  background: #e8f0ff;
  color: #0b3d91;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowspan-cell {
  background: #e8f0ff;
  color: #00264d;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  text-align: center;
}
.section-header {
  background: #e6f1ff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}
.rowspan-cell {
  background: #e6f1ff;
  color: #00264d;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;   /* vertical center */
  justify-content: center; /* horizontal center */
  text-align: center;
}
.hide-cell {
  display: none !important;
}

.merge-cell {
  background: #e6f2ff;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #d0d0d0;
}

.tool-section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 14px;
}





